*.class

# Package Files #
*.jar
*.war
*.ear
*.orig
*.iml
.idea/*
target/*
/jdk8-stubs/target/
/nbproject/
nb-configuration.xml

/annotation-processors/nbproject/
/annotation-processors/target/
/util/target/
/util-time/target/
/util-streams/target/
/util-strings/target/
/util-preconditions/target/
/util-collections/target/
/util-thread/target/
/util-function/target/
/util-net/target/
/util-misc/target/
/util-fileformat/target/
/util-misc/nbproject/
/util-collections/nbproject/