*.class

# Package Files #
*.jar
*.war
*.ear
*.orig
*.iml
.idea/*
target/*
/jdk8-stubs/target/
/nbproject/
.idea/
nb-configuration.xml

/annotation-processors/nbproject/
/annotation-processors/target/
/util/target/
/subscriptions/target/
/util-time/target/
/util-streams/target/
/util-strings/target/
/util-preconditions/target/
/util-collections/target/
/util-thread/target/
/util-function/target/
/util-net/target/
/util-misc/target/
/util-fileformat/target/
/util-misc/nbproject/
/util-collections/nbproject/
/util-function/nbproject/
/function/target/
/abstractions/target/
/range/nbproject/
/range/target/
/bits/nbproject/
/bits/target/
/function-nb-wrapper/target/
/abstractions-nb-wrapper/target/
/graph/target/
/predicates/target/
/predicates/nbproject/
/util-net/nbproject/
/function/nbproject/
/util-streams/nbproject/
/util-streams/testdl.txt

/file-channel-pool/nbproject/
/file-channel-pool/target/
/log-structured-storage/nbproject/
/log-structured-storage/target/
/converters/nbproject/
/converters/target/
/util-strings/nbproject/
