*.class

# Package Files #
*.jar
*.war
*.ear
*.orig
*.iml
.idea/*
target/*
/jdk8-stubs/target/
/nbproject/
nb-configuration.xml

/annotation-processors/nbproject/
/annotation-processors/target/
/util/target/